.markup,
.markdown-here-wrapper {
  color: #333;
  font-size: 16px;
  line-height: 1.8;
  font-family: "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }
  .markup,
  .markup *,
  .markup *::before,
  .markup *::after,
  .markdown-here-wrapper,
  .markdown-here-wrapper *,
  .markdown-here-wrapper *::before,
  .markdown-here-wrapper *::after {
    box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 500;
  margin: 32px 0 16px 0;
  line-height: 1.2; }
  h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
    font-size: inherit; }

h1 {
  text-align: center;
  font-size: 32px;
  margin: 48px 0; }

h2 {
  font-size: 22px;
  padding-bottom: 4.8px;
  border-bottom: 1px solid #d8d8d8; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px;
  margin-bottom: 0; }

h6 {
  color: #676767;
  font-size: 16px;
  margin-bottom: 0; }

p {
  margin: 0 0 16px 0; }

blockquote, q {
  border-left: 4px solid #161616;
  padding: 8px 24px;
  margin: 32px 0;
  color: #676767;
  font-style: italic; }
  blockquote > *:first-child, q > *:first-child {
    margin-top: 0; }
  blockquote > *:last-child, q > *:last-child {
    margin-bottom: 0; }

b,
strong {
  font-weight: bold; }

em {
  font-style: italic; }

u {
  text-decoration: underline; }

ins,
mark {
  background: #ffa; }

del {
  color: #676767;
  text-decoration: line-through; }

sup,
sub {
  font-size: 75%;
  line-height: 0;
  left: 0.1em;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  display: block;
  padding: 0;
  margin: 32px 0;
  height: 0;
  border: 0;
  border-top: 1px solid #d8d8d8;
  box-sizing: content-box; }

img {
  display: block;
  margin: 24px auto;
  max-width: 100%;
  height: auto; }

table {
  width: 100%;
  padding: 0;
  margin: 16px 0;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  font-size: 1em;
  font: inherit; }
  table th, table td {
    text-align: left;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0;
    border: 1px solid #d8d8d8; }
    table th > *:first-child, table td > *:first-child {
      margin-top: 0; }
    table th > *:last-child, table td > *:last-child {
      margin-bottom: 0; }
  table thead th,
  table tfoot th {
    font-weight: bold;
    background-color: #f8f8f8; }
  table tr {
    background-color: white; }
    table tr:nth-child(2n) {
      background-color: #F8F8F8; }
  table tbody {
    margin: 0;
    padding: 0;
    border: 0; }

ul, ol {
  margin: 0 0 16px 0;
  padding: 0 0 0 2em; }
  ul li > *:first-child, ol li > *:first-child {
    margin-top: 0; }
  ul li > *:last-child, ol li > *:last-child {
    margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

a {
  color: #4183c4;
  text-decoration: underline; }

pre,
code,
kbd,
samp {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Source Code Pro", "Hack", "Monaco", "Inconsolata", monospace;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto; }

code {
  display: inline;
  border-radius: 3px;
  padding: .25em .5em;
  margin: 0 0.15em;
  background: #f8f8f8;
  white-space: pre-wrap; }

pre {
  padding: 0;
  margin: 16px 0;
  overflow: auto;
  -ms-overflow-style: scrollbar; }
  pre > *:first-child {
    margin-top: 0; }
  pre > *:last-child {
    margin-bottom: 0; }
  pre code {
    display: block;
    color: inherit;
    font-size: inherit;
    padding: 16px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #d8d8d8;
    white-space: pre-wrap;
    background: #f8f8f8;
    white-space: pre;
    overflow: auto; }
